<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <title>Omanalytics</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="static/stylesheets/styles.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width user-scalable=no">

</head>

<body>
    <header class="embed-container col-lg-12 col-md-12 col-sm-12 shadow">
        <p>
            Power BI Embedded Sample
        </p>
    </header>
    <main class="row">
    
        <section id="report-container" class="embed-container">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container ">
        </section>


    </main>
    <footer>
     
      
    </footer>
    <script src="{{ url_for('static', filename='js/external/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/powerbi.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
