<!DOCTYPE html>
<html lang="en">
<title>Omanalytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylegrid.css">
<style>
 .content {
  max-width: 1600px;
  margin:0;
}

*{margin: 0; padding: 0;
box-sizing: border-box; background:	#BEBEBE;}


.mySlides {display:flex;}

  

/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
  .prev, .next,.text {font-size: 11px}
}



.w3-container w3-content w3-center w3-padding-64{
  padding:0
}


h2{
  background-color:#54a7fa;
   padding: 50px;
  text-align: center;
  font-size: 35px;
  color: white;
}







div.gallery {
  margin: 10px;
  border: 1px solid rgb(248, 248, 248);
  float: left;
  width: 195px;
  padding: 1px;
}

div.gallery:hover {
  border: 1px solid #777;
  padding:1px;
}

div.gallery img {
  width: 100%;
  height: auto;
  
}



</style>
<body>
  
<div class="content">  

  
  
 <!--images gallery-->




<!-- Navbar --> 
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-mobile">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Dasboard</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Dasboards<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiYzMzYjFmNTYtNjY4Zi00MjRhLWIxNzctYTRjNGJjZGYxNmE5IiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9&pageName=ReportSection05febcc584efa4abf39e" class="w3-bar-item w3-button">Sales Analyse</a>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiMjlmMmUxZDAtYTRiYS00YzRkLWE0NDMtODY5NDA3NjU1NjY0IiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9" class="w3-bar-item w3-button">Production Dashboard</a>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiMjJlMjM4ZDgtYzRiYS00MGNkLWE1NDMtYWRmOWY2M2UxYWFjIiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9&pageName=ReportSection" class="w3-bar-item w3-button">Customer_Credit_Profile_Final_SQl</a>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiNjZmNjM1ZWItNTdmOC00MGE3LWI2ZjktZDI5NWEyYWNlMTI2IiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9&pageName=ReportSection" class="w3-bar-item w3-button">Customer_Credit_Profile_Final</a>
      </div>
      
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

</head>

  
  <!-- Page content -->
 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:100%" id="">
   

<div class="w3-content w3-display-container" style="max-width:100%">
  <img class="mySlides" src="https://1.bp.blogspot.com/-IBLd5rn3A08/X4-tYaoxPZI/AAAAAAAACCw/JSui8bNehxU7QYr2XZ2rWfnSAj5DSzk9QCLcBGAsYHQ/s1400/powerbilogo.jpg" style="width:100%; height:140px;">
  <img class="mySlides" src="https://1.bp.blogspot.com/-ezSrZPkTKlU/X4-7BiXoAII/AAAAAAAACDc/LnmO2NgdUMMMwHcytwYuhEyCBih6JLyLACLcBGAsYHQ/s1400/new-azure-logo.jpg" style="width:100%; height:140px;">
  <img class="mySlides" src="https://1.bp.blogspot.com/-ezSrZPkTKlU/X4-7BiXoAII/AAAAAAAACDc/LnmO2NgdUMMMwHcytwYuhEyCBih6JLyLACLcBGAsYHQ/s1400/new-azure-logo.jpg" style="width:100%; height:140px;">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">

  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

<p>____________________________________________________________________________________________________________________________________</p>

<div class="gallery">
  <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiNjZmNjM1ZWItNTdmOC00MGE3LWI2ZjktZDI5NWEyYWNlMTI2IiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9">
    <img src="https://1.bp.blogspot.com/--OWfuy2SKFY/X4c6SD95AyI/AAAAAAAABuA/TDsU-rNKHoUrqT4EAnrP94i7JionkMkyACLcBGAsYHQ/s750/0001.PNG" alt="Cinque Terre" width="500" height="300">
  </a>
  <div class="desc">Customer Credit Profile</div>
</div>


<div class="gallery">
  <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiMjJlMjM4ZDgtYzRiYS00MGNkLWE1NDMtYWRmOWY2M2UxYWFjIiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9&pageName=ReportSection">
    <img src="https://1.bp.blogspot.com/-04Gb2mQWT70/X4c6Vdr3toI/AAAAAAAABuE/2JxX5YEPKcI3zAkqiPSwtqzHn-74hXenwCLcBGAsYHQ/s750/0002.PNG" alt="Forest" width="500" height="400">
  </a>
  <div class="desc">Customer Credit Profile1</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiMjlmMmUxZDAtYTRiYS00YzRkLWE0NDMtODY5NDA3NjU1NjY0IiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9">
    <img src="https://1.bp.blogspot.com/-KpA4mSeDgwE/X4c6VeFBEUI/AAAAAAAABuM/OxjXdg_iQZwsr_Y3_A78Xpl1ojRlpV-hQCLcBGAsYHQ/s750/0003.PNG" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Production Dashboard</div>
</div>

<div class="gallery">
  
  <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiYzMzYjFmNTYtNjY4Zi00MjRhLWIxNzctYTRjNGJjZGYxNmE5IiwidCI6IjUxYzhjYWFhLTZkZTctNDVhYy05ZjkyLWNiNzhjZjIxNTM0NyJ9&pageName=ReportSection05febcc584efa4abf39e">
    <img src="https://1.bp.blogspot.com/-9RMxpyPugbk/X4c6VRsUcxI/AAAAAAAABuI/dKayh_XGSRcW6fY4tyyzK1Fesic2ODCYwCLcBGAsYHQ/s750/0004.PNG" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Sales Analyse</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://1.bp.blogspot.com/-8iVAoQgDgmM/X4c6bHyFIBI/AAAAAAAABuQ/SPTMFTs-KD8bnFMG9lx6M4DPgc0Cq5nnwCLcBGAsYHQ/s750/MarketAnalyse.PNG">
    <img src="https://1.bp.blogspot.com/-8iVAoQgDgmM/X4c6bHyFIBI/AAAAAAAABuQ/SPTMFTs-KD8bnFMG9lx6M4DPgc0Cq5nnwCLcBGAsYHQ/s750/MarketAnalyse.PNG" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Market Sales Analyse</div>
</div>
 
<div class="gallery">
  <a target="_blank" href="https://1.bp.blogspot.com/-iqnnHJH32vo/X4c6fZ5rxYI/AAAAAAAABug/NFQ-Kz5cbogexuaAl3TNQcdONwNmo9X4QCLcBGAsYHQ/s750/taret%2Bvs%2Bactual.PNG">
    <img src="https://1.bp.blogspot.com/-iqnnHJH32vo/X4c6fZ5rxYI/AAAAAAAABug/NFQ-Kz5cbogexuaAl3TNQcdONwNmo9X4QCLcBGAsYHQ/s750/taret%2Bvs%2Bactual.PNG" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Target Vs Actual</div>
</div>

<p>____________________________________________________________________________________________________________________________________</p>
<p>____________________________________________________________________________________________________________________________________</p>
 
 <!-- The Band Section -->
 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:100%" align="left" id="band">
  <section id="report-container" class="embed-container">
  </section>
  </div>

<p>____________________________________________________________________________________________________________________________________</p>
  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:100%">
      <h2 class="w3-wide w3-center">TOUR DATES</h2>
      <p class="w3-opacity w3-center"><i>Remember to book your tickets!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>New York</b></p>
            <p class="w3-opacity">Fri 27 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Paris</b></p>
            <p class="w3-opacity">Sat 28 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/sanfran.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>San Francisco</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>
<p>____________________________________________________________________________________________________________________________________</p>
  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">
<p>____________________________________________________________________________________________________________________________________</p>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
