<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/stylesheets/styles.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Title</a>
    </nav>

    </br>
    </br>
    </br>

    <div class="container mx-auto center">
        <div class="row col-sm-offset-5 hidden" style="height:150px" id="loader">
            <div class="loader"></div>
        </div>

        <div class="row">
            <div class="form-group col-sm-offset-3 col-sm-6">
                <label class="control-label">Input field description.</label>
                <div class="input-group">
                    <span class="input-group-addon">optional addon</span>
                    <input type="text" class="form-control" id="input">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="submit">Button</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2" id="results">
                <!-- populate fields to diplay results -->
                <h3 id="result">Sample Result</h3>
                <p id="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut tempus magna. Proin dapibus lorem id dui
                    faucibus vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae; Nunc a sapien finibus, gravida felis aliquet, hendrerit ex. Mauris at rutrum libero. Vivamus tincidunt
                    vel magna non pharetra. Sed vitae vehicula lorem. Morbi vel felis sit amet enim posuere mollis. Proin
                    eleifend ipsum dui, in elementum tellus varius id. Nunc at venenatis risus, eget pulvinar ipsum. Proin
                    mattis sapien ut magna euismod, in venenatis turpis volutpat. Nunc tincidunt pharetra libero ac malesuada.
                    Duis commodo risus non metus ullamcorper tempus. Curabitur molestie iaculis turpis sed pellentesque.
                    Nulla eros sem, efficitur gravida erat eget, pharetra venenatis metus. Aliquam imperdiet mi urna, non
                    rhoncus velit efficitur non.
                </p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/javascript/main.js" type="text/javascript"></script>
    </script>
</body>

</html>